<footer class="py-4 border-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Acme Sprockets</h4>
                <p>123 Main Street<br>Yourtown, PA 12345<br>555-555-5555</p>
            </div>
            <div class="col-6 text-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#" class="btn btn-lg"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-lg"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-lg"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="btn btn-lg"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <small class="text-muted">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Awesome Developers Inc.</small>
            </div>
        </div>
    </div>
</footer>

<script src="vendors/vendor.js"></script>
<script src="js/main.js"></script>
</body>

</html>