@@include('./includes/header.html')
@@include('./includes/navigation.html')

<section class="intro">
    <h2 class="d-none">Welcome back, <span id="customer-name">John Doe</span>!</h2>
    <h1 class="display-3">Our customers love us</h1>
    <div class="h4 mt-4">See how your users experience your website in real time or view<br>trends to see any changes in performance over time.</div>
    <a href="#" class="btn btn-outline-light px-5 py-3 btn-lg btn-circle mt-5 text-uppercase">Get Started</a>
</section>

<section class="container py-5 mt-5">
    <div class="row">
        <div class="col-12 mb-5 text-center">
            <h2>Proudly serving the following industries</h2>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="pb-3"><i class="fas fa-4x fa-car p-3 border border-dark rounded-circle"></i></div>
            <h3>Automotive</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum vehicula risus at consectetur. Pellentesque odio</p>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="pb-3"><i class="fas fa-4x fa-plane p-3 border border-dark rounded-circle"></i></div>
            <h3>Aerospace</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum vehicula risus at consectetur. Pellentesque odio</p>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="pb-3"><i class="fas fa-4x fa-tractor p-3 border border-dark rounded-circle"></i></div>
            <h3>Agriculture</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum vehicula risus at consectetur. Pellentesque odio</p>
        </div>
    </div>
</section>


<section class="pt-5">
    <div class="bg-primary py-4">
        <div class="container d-flex justify-content-around align-items-center">
            <h4 class="text-white p-0 m-0">Ready to take the next step?</h4>
            <a href="#" class="btn btn-outline-light px-5 py-3 btn-circle">Get Started</a>
        </div>
    </div>
</section>

@@include('./includes/footer.html')