@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';

// Custom Buttons
.btn-circle {
    border-radius: 1.875rem;
}

// Landing Page Styles
.intro {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:#fff;
    text-align: center;
    background:linear-gradient(to left, $info, $primary);
}

// Forms
.form-group .error {
    @extend .text-danger,.small;
}